In [13]:
# List is an mutable , we can change 
#List is an order 
# Lisr allowd duplicates
# List is indexed
a = [10,20,"Apply",50,50]
a[3]=5
print(a[2])

Apply

In [14]:
print(a[2])

Apply

In [15]:
#Tuple is an order 
# tuple is an indexed 
# Tuble is an inmutable
# Tuble is an duplicate 

t = (10,20,40,"hello","10")
print(t)
print(t[0])

(10, 20, 40, 'hello')

In [27]:
# set in an unorder
# not indexed 
# not mutable
# duplicate not allow 
# in set add 

s = {10,20,45,"Apply",10}
#s.add(100)
print(len(s))

4

In [41]:
#  Dictionary  is an ordered
# Dictionary is indexed 
# Dictionary mutable 
#  Dictionary duplicate not allows 

person = {"name": "John", "age": 30, "city": "New York"}
#print (person)
#print(person["city"])
person["name"]= "chaitanya"
print(person)

{'name': 'chaitanya', 'age': 30, 'city': 'New York'}

In [39]:
print(person["age"])

30

In [35]:
for key in person:
    print(key, person[key])

name John
age 30
city New York