In [1]:
def add_numbers(num1, num2):
    return num1 * num2

# Call the function
result = add_numbers(5, 4)
print(f"Sum: {result}")

Sum: 9

In [2]:
def greet():
    print("This is functiona")

greet()

This is functiona

In [3]:
greet()

This is functiona

In [8]:
def add(num1,num2):
    sum = num1 * num2
    print(sum)
add(5,2)

10

In [9]:
import mysql.connector

# Replace with your actual database credentials
host = "localhost"
user = "root"
password = "admin"

# Connect to MySQL server
try:
    mydb = mysql.connector.connect(
        host=host,
        user=user,
        password=password
    )
    print("Connected to MySQL server successfully!")

    # Create a new database named "mydatabase"
    mycursor = mydb.cursor()
    mycursor.execute("CREATE DATABASE mydatabase")
    print("Database 'mydatabase' created successfully!")

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    mydb.close()

Connected to MySQL server successfully!
Database 'mydatabase' created successfully!

In [11]:
name = input("Enter your name")
print("Hello, " + name)  # Output: Hello, Alice

Enter your name nani

Hello, nani

In [12]:
x = 5
y = "John"
print(type(x))  # Output: <class 'int'>
print(type(y))  # Output: <class 'str'>

<class 'int'>
<class 'str'>

In [ ]:
def add(a,b):
    return a + b

In [3]:
result = add(3+8)
print(result)

NameError: name 'add' is not defined

In [ ]:
def add(a , b):
    return a + b

In [4]:
result = add(4,5)
print(result)

NameError: name 'add' is not defined

In [6]:
def add(a,b):
  return a + b
result = add(3,4)
print(result)

7

In [5]:
result = add(3,4)
print(result)

NameError: name 'add' is not defined